[user]
        name = Nicholas Almeida
        email = fala@nicholasalmeida.com
[credential]
        helper = osxkeychain
[color]
        ui = true
[core]
        # Use custom `.gitignore` and `.gitattributes`
        excludesfile = ~/.gitignore
