[user]
        name = ${GITNAME}
        email = ${GITEMAIL}
[credential]
        helper = osxkeychain
[color]
        ui = true
[core]
        # Use custom `.gitignore` and `.gitattributes`
        excludesfile = ~/.gitignore
